
.databricks
databricks.yml
settings.json

# Virtual environments
.venv/
.venv-databricks/
*.venv/
venv/
env/
.venv-databricks-resources/

# Editor settings
.vscode/

# Archived frameworks - not tracked in repo
archived_frameworks/

# OS Metadata
.DS_Store
**/.DS_Store
